body {
    background: url(../assets/bg-image-3.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {

    color: white;
}

h3 {
    font-style: italic;
    color: white;
}