/* CSS Style untuk game BatuGuntingKertas */

body {
    background-color: #9C835F;
}

.container {
    width: 900px;
    margin: -10px auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

header {
    font-size: 36px;
    color: #F9B23D;
    font-weight: bold;

}

img {
    width: 100px;
    height: 100px;
    margin: 30px auto;

}

a:hover {
    text-decoration: none;

}

.area-player {
    width: 35%;
    text-align: center;


}

.info {
    width: 150px;
    height: 100px;
    display: flex;
    margin: auto;
    font-size: 100px;
    position: relative;
    font-weight: bold;
    color: #BD0000;


}

/*class kotak ini nanti muncul saat dipanggil*/
.kotak {
    display: flex;
    font-size: 25px;
    margin: auto;
    text-align: center;

}

.area-komputer {
    width: 35%;
    text-align: center;
}

li {
    list-style-type: none;


}

.tombol {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 180px;
    margin-left: -30px;


}

.tombol img {
    width: 50px;
    height: 50px;
    background: none;

}

body>header:nth-child(1)>a:nth-child(1)>img:nth-child(1) {
    margin-right: 40px;
    margin-left: 40px;
    width: 25px;
    height: 25px;
}

body>header:nth-child(1)>img:nth-child(2) {
    margin-right: 40px;
    width: 50px;
    height: 50px;
}