body {
    background: url(../assets/bg-image-4.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: bold;
    color: white;
}

tr td b {
    color: orange;
    font-size: 18px;
}

tr td {
    color: white;
}