<%- include('../partials/header') %>

    <link rel="stylesheet" href="/css/login.css">
    <title>Login system</title>
    </head>

    <body>

        <div class="container">

            <h1>Register</h1>
            <form method="POST" action="">
                <a href="/" class="btn btn-primary">HOME</a>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" name="email" placeholder="Enter Your Email" class="form-control"
                        id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" placeholder="Enter Your Password" class="form-control"
                        id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>

        <%- include('../partials/footer') %>