<%- include('../partials/header') %>

    <link rel="stylesheet" href="/css/game.css">
    <title>Game-BatuGuntingKertas</title>
    </head>

    <body>
        <header>
            <a href="/">
                <img src="../assets/game/arrow.png" alt="">
            </a>
            <img src="../assets/game/logo 1.png" alt="Game logo">
            <span>Rock Paper Scissors</span> <!-- penulisan < masih kurang benar -->
        </header>

        <div class="container">
            <div class="area-player">
                <H3>PLAYER 1</H3>
                <ul>
                    <li>
                        <img src="../assets/game/batu.png" class="batu">
                    </li>
                    <li>
                        <img src="../assets/game/gunting.png" class="gunting">
                    </li>
                    <li>
                        <img src="../assets/game/kertas.png" class="kertas">
                    </li>
                </ul>
            </div>

            <div class="info">
                <div>VS</div>
            </div>

            <div class="area-komputer">
                <H3>COM</H3>
                <ul>
                    <li>
                        <img src="../assets/game/batu.png">
                    </li>
                    <li>
                        <img src="../assets/game/gunting.png">
                    </li>
                    <li>
                        <img src="../assets/game/kertas.png">
                    </li>
                </ul>
            </div>
            <div class="tombol">
                <img src="../assets/game/refresh.png" type='button' onclick="window.location.reload()">
            </div>
        </div>

        <script src="/js/game.js"></script>

        <%- include('../partials/footer') %>