<%- include('../partials/header') %>

    <link rel="stylesheet" href="/css/about.css">
    <title>About&Galery</title>
    </head>

    <body>
        <div class="container text-center">
            <br><br><br>
            <h4>What's so special?</h4>
            <h2>THE GAMES</h2>
            <br><br>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../assets/rockpaperstrategy.png" class="d-block w-100" alt="Ini Gambar 1">
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/rockpaperstrategy.png" class="d-block w-100" alt="Ini Gambar 2">
                    </div>
                    <div class="carousel-item">
                        <img src="../assets/rockpaperstrategy.png" class="d-block w-100" alt="Ini Gambar 3">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <%- include('../partials/footer') %>