<%- include('../partials/header') %>

    <link rel="stylesheet" href="/css/feature.css">
    <title>Feature</title>
    </head>

    <body>
        <div class="container">
            <br><br>
            <h3>What's so special?</h3>
            <h1>FEATURE</h1>
        </div>
        <div class="container text-left">
            <div class="row mb-5">
                <div class="col align-self-start">
                    <div class="card text-white bg-primary mb-3" style="max-width: 100%;">
                        <div class="card-header">ATTACK</div>
                        <div class="card-body">
                            <p class="card-text text-white">
                                Dengan fitur ini USER punya kelebihan dalam menyerang pertahanan musuh
                            </p>
                            <div class="form-check red-checkbox pl-3">
                                <input type="checkbox" class="form-check-input filled-in" id="filledInCheckbox">
                                <label class="form-check-label" for="filledInCheckbox"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col align-self-end">
                </div>
            </div>
            <div class="row mb-5">
                <div class="col align-self-start">
                    <div class="card text-white bg-success mb-3" style="max-width: 100%;">
                        <div class="card-header">DEFEND</div>
                        <div class="card-body">
                            <p class="card-text text-white">
                                Dengan fitur ini USER akan dapat bertahan dari serangan musuh
                            </p>
                            <div class="form-check red-checkbox pl-3">
                                <input type="checkbox" class="form-check-input filled-in" id="filledInCheckbox">
                                <label class="form-check-label" for="filledInCheckbox"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col align-self-end">

                </div>
            </div>
            <div class="row mb-5">
                <div class="col align-self-start">
                    <div class="card text-white bg-warning mb-3" style="max-width: 100%;">
                        <div class="card-header">SUPPORT</div>
                        <div class="card-body">
                            <p class="card-text text-white">
                                User dapat menggunbakan fitur ini untuk mendapatkan bantuan dari Komputer
                            </p>
                            <div class="form-check red-checkbox pl-3">
                                <input type="checkbox" class="form-check-input filled-in" id="filledInCheckbox">
                                <label class="form-check-label" for="filledInCheckbox"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col align-self-end">
                </div>
            </div>
        </div>

        <%- include('../partials/footer') %>