<%- include('../partials/header') %>

    <link rel="stylesheet" href="/css/style.css">
    <title>Landing</title>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link ml-3" href="#">HOME
                                <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link" href="#">WORK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ml-3" href="#">CONTACT</a>
                        </li>
                        <li class="nav-item dropdown ml-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ABOUT ME
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">GAME FEATURE</a>
                                <a class="dropdown-item" href="#">TOP SKOR</a>
                                <a class="dropdown-item" href="#">System Requirement</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-nav align-items-lg-center nav-right">
                    <ul class="navbar-nav ml-auto"></ul>
                    <li class="nav-item">
                        <a class="nav-link ml-3" href="#">SIGN UP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-3" href="#">LOGIN</a>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>

        <br><br><br><br><br>

        <main class="container text-center">
            <h1>Play traditional game</h1>

            <h3>Experience new traditional game play</h3>

            <a class="btn btn-warning btn-lg re-size" href="/user" role="button">TRIAL</a>
        </main>
        <br><br><br><br><br><br><br>
        <div class="container text-center">
            <a href="#">
                <p>THE STORY <br>
                    <!-- icon arrow down -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-caret-down" viewBox="0 0 16 16">
                        <path
                            d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                    </svg>
                </p>

            </a>
        </div>

        <%- include('../partials/footer') %>