<%- include('../partials/header') %>

    <link rel="stylesheet" href="/css/quote.css">
    <title>Quote</title>
    </head>

    <body>
        <br><br><br><br><br><br>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">TOP SCORES</h1>
                <p class="lead">Top skor dari semua game tersedia di platform ini</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">See more</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <!-- Card -->
                    <div class="card testimonial-card">

                        <!-- Background color -->
                        <div class="card-up indigo lighten-1"></div>

                        <!-- Avatar -->
                        <div class="avatar mx-auto white">
                            <img src="../assets/image-people-1.jpg" class="rounded-circle" alt="woman avatar">
                        </div>

                        <!-- Content -->
                        <div class="card-body">
                            <!-- Name -->
                            <h4 class="card-title">Andie Hart</h4>
                            <h6>Bussinesman</h6>
                            <!-- Quotation -->
                            <p>" Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Eos, adipisci "
                            </p>
                            <div class="card-footer text-muted">
                                1 days ago
                            </div>
                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col-md">
                    <!-- Card -->
                    <div class="card testimonial-card">

                        <!-- Background color -->
                        <div class="card-up indigo lighten-1"></div>

                        <!-- Avatar -->
                        <div class="avatar mx-auto white">
                            <img src="../assets/image-people-2.jpg" class="rounded-circle" alt="avatar2">
                        </div>

                        <!-- Content -->
                        <div class="card-body">
                            <!-- Name -->
                            <h4 class="card-title">Anna Doe</h4>
                            <h6>Programmer</h6>
                            <!-- Quotation -->
                            <p>" Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Eos, adipisci "
                            </p>
                            <div class="card-footer text-muted">
                                5 days ago
                            </div>
                        </div>

                    </div>
                    <!-- Card -->
                </div>
                <div class="col-md">
                    <!-- Card -->
                    <div class="card testimonial-card">

                        <!-- Background color -->
                        <div class="card-up indigo lighten-1"></div>

                        <!-- Avatar -->
                        <div class="avatar mx-auto white">
                            <img src="../assets/image-people-3.jpg" class="rounded-circle" alt="woman avatar">
                        </div>

                        <!-- Content -->
                        <div class="card-body">
                            <!-- Name -->
                            <h4 class="card-title">Doe Hubbreg</h4>
                            <h6>FreeLancer</h6>
                            <!-- Quotation -->
                            <p>" Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Eos, adipisci "
                            </p>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>
                    <!-- Card -->
                </div>
            </div>
        </div>

        <%- include('../partials/footer') %>