<%- include('../partials/header') %>

    <link rel="stylesheet" href="/css/require.css">
    <title>System Requirement</title>
    </head>

    <body>
        <div class="container text-center">
            <br><br><br><br><br><br><br><br><br><br><br>
            <h3>Can My Computer Run this game?</h3>
            <h1>SYSTEM REQUIREMENTS </h1>
            <br><br>
            <table class="table table-bordered">
                <tr>
                    <td>
                        <b> OS: </b><br>
                        Windows 7 (64 Bit) / Linux Mint 20 Cinnamon
                    </td>
                    <td>
                        <b>Processore: </b> <br>
                        Intel© Core™ i5 CPU M 480 @ 2.67GHz × 2
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Memory: </b><br>
                        1 GiB
                    </td>
                    <td>
                        <b>Storage: </b><br>
                        500 MB
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <b>Grapich: </b><br>
                        Advanced Micro Devices, Inc. [AMD/ATI] Robson CE [Radeon HD 6370M/7370M] (prog-if 00
                        [VGA
                        controller])
                    </td>
                </tr>
                </tbody>
            </table>
            </table>
        </div>

        <%- include('../partials/footer') %>